button{
    background-color:cornflowerblue ;
    width: 100px;
    height: 50px;
    
    text-decoration: solid;
   
    box-shadow:10px 3px 10px  2px rgb(11, 1, 78);
border-radius: 32px;}
.foto{border-color: blueviolet;
    width: 100em;
    height: 50px;

}
input{
    
    border-color: blueviolet;
    width: 100px;
    height: 50px;
}
{
    
background-color: cornflowerblue;
display: flex;
align-items: center;
justify-content: center;
flex-direction: colum;
padding: 3%;
margin: 1.3%;
width: 50vw;
height: 100vh;
box-shadow:10px 3px 10px  2px rgb(11, 1, 78);
border-radius: 60px;}
class{ display: flex;
    align-items:flex-end;
    justify-content:last baseline;

}

