button{
    background-color: rgb(255, 162, 49);
    width: 100px;
    height: 50px;
    border-radius: 10%;
    text-decoration: solid;
    
}
input{
    
    border-color: blueviolet;
}
div{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    row-gap: 1rem;
    

    border: 2px;
    border-color: black;
    background-color:bisque ;

}